.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #282c34;
}

#drum-machine {
  width: 320px;
  border-radius: 5px;
  background-color: #1c1c1c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#display {
  background-color: #000;
  color: #0ff;
  text-align: right;
  padding: 20px;
  font-size: 2em;
  border-radius: 5px 5px 0 0;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1px;
}

button {
  background-color: #333;
  color: white;
  border: none;
  font-size: 1.5em;
  padding: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

button:active {
  background-color: #555;
}

button#clear {
  grid-column: span 2;
  background-color: #d9534f;
}

button#equals {
  grid-row: span 2;
  background-color: #5cb85c;
}
button#zero {
  grid-column: span 2;
}
